parser: babel-eslint
extends: airbnb
rules:
    func-names: 0
    semi: [2, never]
    no-unexpected-multiline: 2
    no-shadow: 1
    react/display-name: 1
    react/jsx-no-duplicate-props: 2
    react/jsx-filename-extension: ["error", { "extensions": [".js", ".jsx"] }]
